<form [formGroup]="loginForm">
    <div class="login">
        <div class="container-sm">
            <div class="mb-3">
                <label for="name" class="form-label">Userame/Email:</label>
                <input type="text" class="form-control" formControlName="email" id="name"
                    placeholder="Please type your username or email here...">
            </div>

            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" formControlName="password" id="exampleInputPassword1"
                    placeholder="Please enter your password here...">
            </div>

            <!-- <button type="submit" class="btn btn-primary" (click)='onSubmit()' [disabled]="taskForm.invalid">Submit</button> -->
            <div class="button">
                <button type="submit" class="btn btn-secondary" style="float: right" (click)='login()'>Login</button>
            </div>
        </div>
    </div>
</form>

<!-- and form controls are undefined -->