.container{
    /* background-color: #212529;  */
    margin-top: 20px;
    list-style-type: none;
    text-align: center;
    margin: 20px;
    font-size: 20px;
    padding: 20px;
}

a {
    color: #e271f1;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: green;
    background-color: transparent;
}